<h1>google contacts</h1>
<div id="contacts"></div>
<div>
  <form id="new_contact">
    <div>
      <label>Firstname:  </label>
      <input id="first-name" type="text" name="firstname"></input>
    </div>
    <div>
      <label>Lastname:  </label>
      <input id="last-name" type="text" name="lastname"></input>
    </div>
      <label>Email:  </label>
      <input id="email" type="text" name="email"></input>
      
      <label>Phone Number:  </label>
      <input id="email" type="text" name="email"></input>
      
      <label>Address:  </label>
      <input id="email" type="text" name="email"></input>
    </div>
    <button>Add</button>
  </form>
</div>